<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Category</title>
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body>
        <nav>
            <h2>Inventory App</h2>
            <div class="">
                <a href="/categories/createCategory">Create new Category</a>
                <a href="/foodItems/createFoodItem">Create new Food Item</a>
            </div>
        </nav>
