<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Category</title>
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body>
        <nav>
            <h2>Inventory App</h2>
            <div class="">
                <a href="/categories/createCategory">Create new Category</a>
                <a href="/foodditems/createFoodItem">Create new Food Item</a>
            </div>
        </nav>

        <div class="itemDetail">
            <img src="fruit.jpg" alt="">
            <div class="detail">
                <h1>Name : Fruit</h1>
                <p>Total Food Item under this category : 20</p>
                <p class='descp'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="btn-group">
                    <a href="/categories/category/id/update">Update Category</a>
                    <a href="/categories/category/id/delete">Delete Category</a>
                </div>
            </div>
        </div>

        <h1 class="list-heading">Food Items under this category</h1>

        <div class="grid-container">
            <div class="item-card">
                <!-- <div class="image"> -->
                    <img src="fruit.jpg" alt="Fruit">
                <!-- </div> -->
                <div class="info">
                    <h1>Fruit</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <a href="#">View Category</a>
            </div>
            <div class="item-card">
                <div class="image">
                    <img src="fruit.jpg" alt="Fruit">
                </div>
                <div class="info">
                    <h1>Fruit</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <a href="#">View Category</a>
            </div>
            <div class="item-card">
                <div class="image">
                    <img src="fruit.jpg" alt="Fruit">
                </div>
                <div class="info">
                    <h1>Fruit</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
                <a href="#">View Category</a>
            </div>
            <div class="item-card">
                <div class="image">
                    <img src="fruit.jpg" alt="Fruit">
                </div>
                <div class="info">
                    <h1>Fruit</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <a href="#">View Category</a>
            </div>
            <div class="item-card">
                <div class="image">
                    <img src="fruit.jpg" alt="Fruit">
                </div>
                <div class="info">
                    <h1>Fruit</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                </div>
                <a href="#">View Category</a>
            </div>
        </div>
    </body>
</html>
